  .form-group label{
	font-weight:bold;
  }
  
  .form-group span{
	font-size:80%;
	background-color:red;
	color:white;
	padding:1px 5px 3px 5px;
	vertical-align:1px;
	margin-left:10px;
  }

  .w-5{width:6%;}
  .w-10{width:10%;}
  .w-15{width:15%;}
  .w-20{width:20%;}
  .w-25{width:25%;}
  .w-30{width:30%;}
  .w-35{width:35%;}
  .w-40{width:40%;}
  .w-45{width:45%;}
  .w-50{width:50%;}
  .w-100{width:100%;}

  .wrap{
	text-align:center;
  }
  .wrap div{
	display:inline-block;
	padding:6px 10px;
	margin-right:2px;
	text-align:center;
	word-break:break-all;
  }
  .title{
	background-color:#FFC107;
	font-weight:bold;
  }
  